@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Russo+One&display=swap');

body { 
    margin: 0; 
    background-color: #ffd166; 
    background-image: radial-gradient(#e5b33c 15%, transparent 16%); 
    background-size: 18px 18px; 
    color: #050505; 
}

.comic-box { 
    background: #ffffff; 
    border: 4px solid #000000; 
    box-shadow: 10px 10px 0px #000000; 
    padding: 26px; 
}

.comic-title { 
    font-family: 'Bangers', cursive; 
    font-size: 3.8rem; 
    text-shadow: 3px 3px 0px #ef476f, 6px 6px 0px #000; 
}
